---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <!-- <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a> -->
                <ul>
                    <li><a href="https://github.com/ZiluTian/economic_simulations/tree/staged">Sim: A Scala compiler plugin that parallelizes agents </a></li>
                    <li><a href="https://github.com/ZiluTian/epidemic_simulation">An epidemic simulation that models Covid-19 based on data in UK</a></li>
                    <li><a href="https://github.com/ZiluTian/ml_projects/tree/project2/project2/project_road_segmentation">Identify road segments from raw satellite images (ML project) </a></li>
                    <li><a href="https://github.com/ZiluTian/ml_projects/tree/project1">Predict Higgs boson using dataset from CERN (ML project) </a></li>
                    <li><a href="https://github.com/ZiluTian/dailyLearn">DailyLearn: A desktop application that displays Chinese proverbs from classic readings</a></li>
                    <li><a href="https://github.com/ZiluTian/FormalVerification/tree/master/zamsat">ZAMSAT: An optimized SAT solver prototype </a></li>
                    <li><a href="https://hub.docker.com/u/zilutian">Cloudsuite on ARM: port CloudSuite to aarch64 micro-architecture</a></li>
                </ul>
                
            </div>
        {% endif %}
    {% endfor %}
</section>
